<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <queries>
        <package android:name="tr.com.togg.idcc.core.togg_toggid_account_authenticator_service" />
    </queries>

</manifest>
